doctype html
html(lang='en')
  head
    title Account - Chatterbox
    // Include Roboto font from Google Fonts.
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')

    // Include jQuery.
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

    // Include Bootstrap.
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

    // Include Font Awesome.
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")

    // Include custom styles.
    link(href='/assets/style.css', rel='stylesheet', type='text/css')

    // Include Socket.io.
    script(src='/socket.io/socket.io.js')

    // Include custom scripts.
    script(src="/assets/client.js")
  body
    #sidebar
      h1 cb
      #icons
        a(href="/app" class="icon" data-toggle="tooltip" data-placement="right" title="Chat")
          i(class="sidebaricon fa fa-comment fa-2x")
        a(href="/account" class="icon" data-toggle="tooltip" data-placement="right" title="Account")
          i(class="sidebaricon active fa fa-cog fa-2x")
        a(href="/about" class="icon" data-toggle="tooltip" data-placement="right" title="About")
          i(class="sidebaricon fa fa-question-circle fa-2x")
        a(href="/logout" class="icon" data-toggle="tooltip" data-placement="right" title="Sign Out")
          i(class="sidebaricon fa fa-sign-out fa-2x")
    #main
      h2 Account
      form#account(name="account", action="/updateaccount", method="POST")
        label(for="username") username
        input#username(type="text", name="username", value=usn, disabled)
        label(for="bio") bio
        textarea#bio(name="bio", rows="4", cols="50", placeholder="Write a short bio about yourself.") #{b}
        a#asubmit(class="mybutton" href="") Save