doctype html
html(lang='en')
  head
    title Login - Chatterbox
    // Include Roboto font from Google Fonts.
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')

    // Include jQuery.
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

    // Include Bootstrap.
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

    // Include Font Awesome.
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")

    // Include custom styles.
    link(href='/assets/style.css', rel='stylesheet', type='text/css')

    // Include Socket.io.
    script(src='/socket.io/socket.io.js')

    // Include custom scripts.
    script(src="/assets/client.js")
  body
    form#login(name="login", action="/login", method="POST")
      h2 Login
      input#username(type="text", name="username", placeholder="username")
      input#password(type="password", name="password", placeholder="password")
      a#lsubmit(class="mybutton" href="") Sign in
      a(class="mybutton" href="/signup") Don't have an account?